body{
  background-color:lightgrey;
}

h1{
  text-align:center;
  color: darkblue;
  font-family: 'Abril Fatface', cursive;
}

h2{
  font-family: 'Open Sans', sans-serif;
}


h3{
  font-family: 'Open Sans', sans-serif;
}

a{
  color:grey;
  text-decoration: none;
}

a:hover {
  color: blue;
}

td{
  padding: 20px;
}
p{
  font-size: 24px;
}
li{
  font-family: 'Open Sans', sans-serif;
}
